src/main/mule/mua-eservice.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
    <http:listener-config name="mua-eservice-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="mua-eservice-config" api="mua-eservice.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="American-Airline-DB" doc:name="Database Config" doc:id="be56151e-9f29-460b-8ca4-8da5f3a56770">
        <db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
    </db:config>
    <wsc:config name="DELTA-SOAP-Connector" doc:name="Web Service Consumer Config" doc:id="3c0ca028-13ca-479a-85c4-aef487440a73">
        <wsc:connection wsdlLocation="http://mu.learn.mulesoft.com/delta?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://mu.learn.mulesoft.com/delta">
            <wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
        </wsc:connection>
    </wsc:config>
    <http:request-config name="United-REST-Connector" doc:name="HTTP Request configuration" doc:id="2a720198-18cc-44c3-973c-6d3e01d434e8">
        <http:request-connection host="mu.learn.mulesoft.com" />
    </http:request-config>
    <flow name="mua-eservice-main">
        <http:listener config-ref="mua-eservice-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mua-eservice-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mua-eservice-console">
        <http:listener config-ref="mua-eservice-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mua-eservice-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\flights\all:mua-eservice-config">
        <scatter-gather doc:name="Scatter-Gather" doc:id="0b86d80c-2990-4144-b9c0-c4c742afa6fb">
            <route>
                <db:select doc:name="Retrieve American Flight Details" doc:id="52dc659a-ed35-4126-8274-aeaad3184db7" config-ref="American-Airline-DB" queryTimeoutUnit="DAYS">
                    <db:sql><![CDATA[select airlineName, toAirport , fromAirport, takeOffDate, price, seatsAvailable from flights f;]]></db:sql>
                </db:select>
                <ee:transform doc:name="DB to JSON" doc:id="17aa6723-cba4-467f-a032-fedd39a2714d">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	date: payload01.takeOffDate as String default "",
	price: payload01.price default 0,
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	airline: payload01.airlineName default "",
	seatsAvailable: payload01.seatsAvailable default ""
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </route>
            <route>
                <wsc:consume operation="listAllFlights" doc:name="Retrieve Delta Flights" doc:id="5555ce10-bc19-48a6-8292-f4c7185e429b" config-ref="DELTA-SOAP-Connector" />
                <ee:transform doc:name="SOAP to JSON" doc:id="4e4c476b-c05e-4170-8460-6315c3dd5c75">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#listAllFlightsResponse.*return map {
	date: $.departureDate default "",
	price: $.price default 0,
	origin: $.origin default "",
	destination: $.destination default "",
	airline: $.airlineName default "",
	seatsAvailable: $.emptySeats as String default ""		
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </route>
            <route>
                <http:request method="GET" doc:name="Retrieve UA Flights" doc:id="5a0797a9-4b23-4bba-a165-024f1fad706d" config-ref="United-REST-Connector" path="/united/flights" />
                <ee:transform doc:name="JSON to JSON" doc:id="0cdb07b3-ef7f-4b02-9d93-ba381267c20a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.flights map {
	date: $.departureDate default "",
	price: $.price default 0,
	origin: $.origin default "",
	destination: $.destination default "",
	airline: $.airlineName default "",
	seatsAvailable: $.emptySeats as String default ""
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </route>
        </scatter-gather>
        <ee:transform doc:name="Transform Message" doc:id="93f373fc-89b6-4ebf-97d3-775aff3e459b">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var array = [payload."0".payload, payload."1".payload, payload."2".payload]

---
//[payload."0".payload, payload."1".payload, payload."2".payload]

flatten(array)]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\flights\of\american:mua-eservice-config">
        <db:select doc:name="Retrieve American Flights" doc:id="910bdfd3-f396-4e9c-828c-37881241a5fe" config-ref="American-Airline-DB" queryTimeoutUnit="HOURS">
            <db:sql><![CDATA[select airlineName, toAirport , fromAirport, takeOffDate, price, seatsAvailable from flights f;]]></db:sql>
        </db:select>
        <ee:transform doc:name="DB to JSON" doc:id="4297a0c3-7e3d-4f26-bf8b-429f56438713">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	date: payload01.takeOffDate as String default "",
	price: payload01.price default 0,
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	airline: payload01.airlineName default "",
	seatsAvailable: payload01.seatsAvailable default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="get:\flight\finder\american:mua-eservice-config" />
    </flow>
    <flow name="get:\flights\of\delta:mua-eservice-config">
        <wsc:consume operation="listAllFlights" doc:name="Retrieve Flights from Delta" doc:id="d5eecfdc-bce6-4693-a84b-d58e48f65187" config-ref="DELTA-SOAP-Connector" />
        <ee:transform doc:name="XML to JSON" doc:id="036b6423-843b-48d0-a864-ad628535917d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---

payload.body.ns0#listAllFlightsResponse.*return map {

	date: $.departureDate default "",
	price: $.price default 0,
	origin: $.origin default "",
	destination: $.destination default "",
	airline: $.airlineName default "",
	seatsAvailable: $.emptySeats as String default ""		
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="get:\flight\finder\delta:mua-eservice-config" />
    </flow>
    <flow name="get:\flights\of\united:mua-eservice-config">
        <http:request method="GET" doc:name="Retrieve United Flights" doc:id="3b91f0a7-f798-499c-860d-7d4c93d3caa2" config-ref="United-REST-Connector" path="/united/flights" />
        <ee:transform doc:name="JSON to JSON" doc:id="005fa824-95e2-4abf-b8ce-bb9306290e53">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.flights map {
	date: $.departureDate default "",
	price: $.price default 0,
	origin: $.origin default "",
	destination: $.destination default "",
	airline: $.airlineName default "",
	seatsAvailable: $.emptySeats as String default ""

}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="get:\flight\finder\united:mua-eservice-config" />
    </flow>
    <flow name="get:\flights:mua-eservice-config">
        <set-variable value="#[message.attributes.queryParams.airline]" doc:name="Set Variable" doc:id="5f40a52c-4698-4915-833f-754c2cb0f76e" variableName="airline" />
        <set-variable value="#[message.attributes.queryParams.destination]" doc:name="Set Variable" doc:id="04278b09-1a0c-48a4-bcb0-2131bb48f9ff" variableName="destination" />
        <choice doc:name="Choice" doc:id="59395258-92ef-4d48-be3c-e74792183972">
            <when expression="vars.airline == &quot;United&quot;">
                <try doc:name="Try" doc:id="6bfb5de4-e6bf-45d9-bea7-93e3e82ab8ee">
                    <http:request method="GET" doc:name="Retrieve United Flights" doc:id="14c4e99a-77e4-42fe-8154-b2fa2533eb9b" config-ref="United-REST-Connector" path="/united/flights/{destination}">
                        <http:uri-params ><![CDATA[#[output application/java
---
{
	destination : vars.destination
}]]]></http:uri-params>
						<http:query-params><![CDATA[#[output application/java
---
{
	destination : vars.destination
}]]]></http:query-params>
                    </http:request>
                    <ee:transform doc:name="Transform Message" doc:id="8ed7a3a1-cc96-476b-a4a9-3a3737ad91a0">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.flights map {
	date: $.departureDate default "",
	price: $.price default 0,
	origin: $.origin default "",
	destination: $.destination default "",
	airline: $.airlineName default "",
	seatsAvailable: $.emptySeats as String default ""

}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <error-handler>
                        <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f128e425-f563-43a6-ac5e-b0315a9ebaa8">
                            <ee:transform doc:name="Transform Message" doc:id="1da3fcf5-41eb-49bf-b647-eeaa19cbf522">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error : "Destination flights not found",
	destination: vars.destination,
	airline: vars.airline
}]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                        </on-error-propagate>
                    </error-handler>
                </try>
            </when>
            <when expression="vars.airline == &quot;Delta&quot;">
                <ee:transform doc:name="Transform Message" doc:id="7e0a7089-a991-4c76-aa16-2d3475a6b0f1">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.destination
	}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <try doc:name="Try" doc:id="f2c7d997-d517-4834-89bf-569b594c2205">
                    <wsc:consume doc:name="Consume" doc:id="acb537e6-d4a6-4747-84b8-59684e4f4550" config-ref="DELTA-SOAP-Connector" operation="findFlight" />
                    <ee:transform doc:name="Transform Message" doc:id="32ad1a04-6b3a-45f9-8b37-6a9db695ff10">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
skipNullOn="everywhere"

ns ns0 http://soap.training.mulesoft.com/
---

payload.body.ns0#findFlightResponse.*return map {
	date: $.departureDate default "",
	price: $.price default 0,
	origin: $.origin default "",
	destination: $.destination default "",
	airline: $.airlineName default "",
	seatsAvailable: $.emptySeats as String default ""		
}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <error-handler>
                        <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9e5bf785-dc4f-4514-8713-3d6cde688777">
                            <ee:transform doc:name="Transform Message" doc:id="09d46b83-a9b6-4b3c-9200-10a7e1dcb0e5">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error : "Destination flights not found",
	destination: vars.destination,
	airline: vars.airline
}]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                        </on-error-propagate>
                    </error-handler>
                </try>
            </when>
            <when expression="vars.airline == &quot;American&quot;">
                <ee:transform doc:name="Transform Message" doc:id="571770fe-4626-433d-9792-a7a40abd9d98" />
                <try doc:name="Try" doc:id="10cbf1d0-b708-4c50-89b7-7fb6841185db">
                    <db:select doc:name="American Flights" doc:id="49095e40-7800-4fff-99ea-3147a54fd74b" config-ref="American-Airline-DB">
                        <db:sql><![CDATA[select airlineName, toAirport , fromAirport, takeOffDate, price, seatsAvailable from flights f where toAirport = :destination;]]></db:sql>
                        <db:input-parameters><![CDATA[#[{
  'destination' : vars.destination
}]]]></db:input-parameters>
                    </db:select>
                    <ee:transform doc:name="Transform Message" doc:id="c3b4e174-e5d8-4996-82ee-38214c6bdad0">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	date: payload01.takeOffDate as String default "",
	price: payload01.price default 0,
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	airline: payload01.airlineName default "",
	seatsAvailable: payload01.seatsAvailable default ""
}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <error-handler>
                        <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7284eff2-68f8-425f-bee8-272a436b70a6">
                            <ee:transform doc:name="Transform Message" doc:id="752cb02f-a26a-43af-9296-0266fd125fac">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error : "Destination flights not found",
	destination: vars.destination,
	airline: vars.airline
}]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                        </on-error-propagate>
                    </error-handler>
                </try>
            </when>
            <otherwise>
                <ee:transform doc:name="Transform Message" doc:id="ff3bd4ca-9e4e-4ebe-ba97-77d0bc23cda3">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	date: "",
	price: 0,
	origin: "",
	destination: "",
	airline: "Invalid Flight Code",
	seatsAvailable: ""
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="aee040ac-1401-4b28-aea2-2e01c5f0b679" message="#[message.attributes.queryParams.airline]" />
            </otherwise>
        </choice>
        <logger level="INFO" message="#[payload]" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b38be25d-2f61-45b6-af5b-5ad1d9b87730">
                <ee:transform doc:name="Transform Message" doc:id="46aa2c5c-465a-4e67-bcd1-b7d0d524d6af">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error : "Destination flights not found",
	destination: vars.destination,
	airline: vars.airline
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\flights\airlines:application\json:mua-eservice-config">
		<set-variable value="#[payload.airlines]" doc:name="Set Variable" doc:id="8b050837-a8ec-4e24-a0a2-dd0f54ed1c70" variableName="airlines"/>
		<set-variable value="#[payload.destination]" doc:name="Set Variable" doc:id="c7e0ac3e-1937-4c4c-abd4-23e8a00ddd53" variableName="destination"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="55d37a32-513f-4e00-bf23-e7a197ccc345" >
			<route >
				<choice doc:name="Choice" doc:id="54fd547b-a6f2-4211-a11e-12ec85c6ee06">
			<when expression='#[vars.airlines contains "United"]'>
						<logger level="INFO" doc:name="Logger" doc:id="24066ad5-d97b-4229-bc55-b14874ec2936" message='"*********** THIS IS UNITED FLOW **********"'/>
						<http:request method="GET" doc:name="United REST" doc:id="d11add5f-5e91-449a-abbd-c8e3e03a35c4" config-ref="United-REST-Connector" path="/united/flights/{destination}">
							<http:uri-params ><![CDATA[#[output application/java
---
{
	destination : vars.destination
}]]]></http:uri-params>
						</http:request>
						<ee:transform doc:name="JSON to JSON" doc:id="98eaf35e-8579-4e09-991a-6ba26e4d90cd" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.flights map {
	date: $.departureDate default "",
	price: $.price default 0,
	origin: $.origin default "",
	destination: $.destination default "",
	airline: $.airlineName default "",
	seatsAvailable: $.emptySeats as String default ""

}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="409e5e25-4430-4981-9d43-beb500f2de24" message="#[payload]"/>
			</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="a7221aa6-c0bc-4e76-a7c7-7686ada78543" message='"DEFAULT UNITED........"'/>
						<set-payload value="#[[]]" doc:name="Set Payload" doc:id="c655ae12-66b7-469a-8bab-d4015f52b9fa" />
					</otherwise>
		</choice>
			</route>
			<route >
				<choice doc:name="Choice" doc:id="f3de8995-22d4-46e6-a0ad-4d0231c1117e" >
					<when expression='vars.airlines contains "American"'>
						<logger level="INFO" doc:name="Logger" doc:id="79e85df2-08d3-4a48-87bc-1cc17f7d147e" message='"*********** THIS IS AMERICAN FLOW **********"' />
						<db:select doc:name="American DB" doc:id="c6c487d2-586c-489a-a68a-cfd37b88c05f" config-ref="American-Airline-DB">
							<db:sql ><![CDATA[select airlineName, toAirport , fromAirport, takeOffDate, price, seatsAvailable from flights f where toAirport = :destination;]]></db:sql>
							<db:input-parameters ><![CDATA[#[{
  destination : vars.destination
}]]]></db:input-parameters>
						</db:select>
						<ee:transform doc:name="DB-JSON" doc:id="04a8cf5b-99de-4898-8270-2c895937557b" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	date: payload01.takeOffDate as String default "",
	price: payload01.price default 0,
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	airline: payload01.airlineName default "",
	seatsAvailable: payload01.seatsAvailable default ""
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="08b0b20c-11ae-4f41-b873-d08105226a4b" message="#[payload]"/>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="680e9ae8-b13a-4d76-8464-0ada7927bb5e" />
						<set-payload value="#[[]]" doc:name="Set Payload" doc:id="641c7808-9c5e-4834-89db-cbc3ee796e5e" />
					</otherwise>
				</choice>
			</route>
			<route >
				<choice doc:name="Choice" doc:id="1bbc1a5c-6a13-4e7d-887f-629ad051b18b" >
					<when expression='vars.airlines contains "Delta"'>
						<logger level="INFO" doc:name="Logger" doc:id="fe7b97e6-89b2-475f-9a7a-a5149104c393" message='"************** THIS IS DELTA FLOW ****************"' />
						<ee:transform doc:name="SOAP Input Request" doc:id="aa6290ff-a622-4934-a6a1-311959b3cd3c">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: payload.destination
	}
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<wsc:consume doc:name="Consume" doc:id="93a51272-ee54-40a7-884d-ad19f9316225" config-ref="DELTA-SOAP-Connector" operation="findFlight"/>
						<ee:transform doc:name="SOAP-JSON" doc:id="fb57409a-a3dc-4ad4-beb0-247bd1856963" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
skipNullOn="everywhere"

ns ns0 http://soap.training.mulesoft.com/
---

payload.body.ns0#findFlightResponse.*return map {
	date: $.departureDate default "",
	price: $.price default 0,
	origin: $.origin default "",
	destination: $.destination default "",
	airline: $.airlineName default "",
	seatsAvailable: $.emptySeats as String default ""		
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="c2a1ea41-1aad-404e-b866-4723776d7424" message="#[payload]"/>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="e4c6d085-4b90-422b-9a27-578e95c3c080" />
						<set-payload value="#[[]]" doc:name="Set Payload" doc:id="3bc40e67-155a-418e-94b5-c959eaf20ef9" />
					</otherwise>
				</choice>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="030e5d03-f872-42c8-81d7-b8b6e9a29802" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var array = [payload."0".payload, payload."1".payload, payload."2".payload]
---

flatten(array)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
